<!DOCTYPE html>
<html lang="en">

<head>
    <title>OPALITE</title>
    <%- include('head', {page: `dashboard`}); %>
</head>

<body>
    <div class="header" id="home">
        <%- include('navbar', {page: `dashboard`, isLoggedIn: true}); %>
    </div>

    <section id="dash-content">
        <div class="container">
            <h4 class="wb"> <img src="https://cdn.discordapp.com/avatars/<%= discord.id %>/<%= discord.avatar %>.webp?size=128" alt="<%= discord.username %>"> Welcome back, <%= discord.username %></h4>
            <div class="row">

                <div class="col-md-3">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Active Services</h5>
                                    <span class="h2 font-weight-bold mb-0">2</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-color-services rounded-circle shadow">
                                        <i class="fas fa-server"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="far fa-calendar-times"></i> 12 Days</span>
                                <span class="text-nowrap">Due Date</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Referalls</h5>
                                    <span class="h2 font-weight-bold mb-0">162</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-color-ref rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Notifications</h5>
                                    <span class="h2 font-weight-bold mb-0">350,897</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-color-noti rounded-circle shadow">
                                        <i class="fas fa-bell"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2"><i class="fa fa-exclamation"></i> 4</span>
                                <span class="text-nowrap">Important</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-stats shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Credit</h5>
                                    <span class="h2 font-weight-bold mb-0"><%= user.credits %></span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-color-credits rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> -500</span>
                                <span class="text-nowrap">Taken out recently</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-stats shadow mt-5" id="transactions">
                        <div class="card-body">
                            <h4>Recent Transactions</h4>
                            <div class="transactions">
                                <p><span class="text-danger mr-2">-500 Credits</span> for HELLO.COM @ 20/12/2020</p>
                                <p><span class="text-success mr-2">+1500 Credits</span> for HELLO.COM @ 10/11/2020</p>
                                <p><span class="text-success mr-2">+500 Credits</span> for HELLO.COM @ 16/08/2020</p>
                                <p><span class="text-danger mr-2">-500 Credits</span> for HELLO.COM @ 04/08/2020</p>
                                <p><span class="text-danger mr-2">-500 Credits</span> for HELLO.COM @ 01/01/2020</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-stats shadow mt-5" id="site-users">
                        <div class="card-body">
                            <h4>Your Site Users</h4>
                            <div id="users"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var options = {
                    series: [{
                        name: 'Site 1',
                        data: [31, 40, 28, 51, 42, 109, 100]
                    }, {
                        name: 'Site 2',
                        data: [11, 32, 45, 32, 34, 52, 41]
                    }],
                    chart: {
                        toolbar: {
                            show: true,
                            offsetX: 0,
                            offsetY: 0,
                            tools: {
                                download: true,
                                selection: false,
                                zoom: false,
                                zoomin: false,
                                zoomout: false,
                                pan: false,
                                reset: false | '<img src="/static/icons/reset.png" width="20">',
                                customIcons: []
                            },
                        },
                        height: 350,
                        type: 'area'
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    xaxis: {
                        type: 'datetime',
                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z",
                            "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z",
                            "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z",
                            "2018-09-19T06:30:00.000Z"
                        ]
                    },
                    tooltip: {
                        x: {
                            format: 'dd/MM/yy HH:mm'
                        },
                    },
                };

                var chart = new ApexCharts(document.querySelector("#users"), options);
                chart.render();

                var height = $('#transactions').height();
                var height2 = $('#site-users').height();
                if (height < height2) {
                    $('#transactions').css(`height`, height2)
                } else {
                    $('#site-users').css(`height`, height)
                }
                $('#sign-in').css(`width`, width)
            </script>
        </div>
    </section>
</body>

</html>